* {
  margin: 0;
  padding: 0;
}
.blackboard {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #c0c0c0;
  color: white;
}
.title {
  position: absolute;
  top: 1.5em;
  left: 3.5em;
}

.flex-content {
  width: 100%;
  position: absolute;
  top: 15em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.menu dl {
  display: table;
  width: 100%;
  /* border: solid #e4e4e4; */
  border-width: 1px 0;
}
.menu dt {
  display: table-cell;
  padding: 0.4rem;
}
.menu dd {
  text-align: right;
  display: table-cell;
  padding: 0.4rem;
}
.menu dd:after {
  display: inline-block;
  content: "";
  width: 1em;
  font-size: 0.7em;
}
.menu dd.from:after {
  content: "〜";
}
.notes {
  font-size: 0.7rem;
  font-family: "Yu Mincho", "YuMincho";
}
/* 
.flex-food {
  justify-content: center;
  align-items: center;
}

.flex-drink {
  justify-content: center;
  align-items: center;
} */
